<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper"><!--Statistics cards Starts-->
<div class="row">


<div class="col-xl-4 col-lg-6 col-md-6 col-12">
<div class="card gradient-blackberry">
<div class="card-content">
  <div class="card-body pt-2 pb-0">
    <div class="media">
      <div class="media-body white text-left">
        <h3 class="font-large-1 mb-0">10</h3>
        <span>Total Devices</span>
      </div>
      <div class="media-right white text-right">
        <i class="icon-pie-chart font-large-1"></i>
      </div>
    </div>
  </div>
  <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
  </div>
</div>
</div>
</div>

<div class="col-xl-4 col-lg-6 col-md-6 col-12">
<div class="card gradient-ibiza-sunset">
<div class="card-content">
  <div class="card-body pt-2 pb-0">
    <div class="media">
      <div class="media-body white text-left">
        <h3 class="font-large-1 mb-0">4</h3>
        <span>Disconnected</span>
      </div>
      <div class="media-right white text-right">
        <i class="icon-bulb font-large-1"></i>
      </div>
    </div>
  </div>
  <div id="Widget-line-chart1" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
  </div>

</div>
</div>
</div>

<div class="col-xl-4 col-lg-6 col-md-6 col-12">
<div class="card gradient-green-tea">
<div class="card-content">
  <div class="card-body pt-2 pb-0">
    <div class="media">
      <div class="media-body white text-left">
        <h3 class="font-large-1 mb-0">6</h3>
        <span>Connected Devices</span>
      </div>
      <div class="media-right white text-right">
        <i class="icon-graph font-large-1"></i>
      </div>
    </div>
  </div>
  <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
  </div>
</div>
</div>
</div>
<!-- <div class="col-xl-3 col-lg-6 col-md-6 col-12">
<div class="card gradient-pomegranate">
<div class="card-content">
  <div class="card-body pt-2 pb-0">
    <div class="media">
      <div class="media-body white text-left">
        <h3 class="font-large-1 mb-0">$8695</h3>
        <span>Total Earning</span>
      </div>
      <div class="media-right white text-right">
        <i class="icon-wallet font-large-1"></i>
      </div>
    </div>
  </div>
  <div id="Widget-line-chart3" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
  </div>
</div>
</div>
</div> -->
</div>
<!--Statistics cards Ends-->



<div class="row match-height">

<div class="col-xl-12 col-lg-12 col-12 col-sm-12">
<div class="card">
<div class="card-header pb-2">
  <h4 class="card-title">Device Status</h4>
</div>
<div class="card-content">
  <table class="table table-responsive-sm text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Firmware</th>
        <th>Dev Model</th>
        <th>Support</th>
        <th>Update Time</th>
        <th>Connected Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DC68C8058FB54135</td>
        <td>nedo 2</td>
        <td>
          ZLIF224HS100 V2.77 BSE0
        </td>
        <td>NaN</td>
        <td>
          <span class="badge badge-primary">PASSWORD</span>&nbsp;
          <span class="badge badge-success">IDCARD</span> &nbsp; <br>
          <span class="badge badge-danger">FP</span> &nbsp;
          <span class="badge badge-info">FACE</span> 
        </td>
        <td>
          2020-03-09 17:35:12.000
        </td>
       
        <td>
          <a class="btn white btn-round btn-success">Active</a>
        </td>
      </tr>

      <tr>
        <td>DC68C8058FB54135</td>
        <td>nedo 2</td>
        <td>
          ZLIF224HS100 V2.77 BSE0
        </td>
        <td>NaN</td>
        <td>
          <span class="badge badge-primary">PASSWORD</span>&nbsp;
          <span class="badge badge-success">IDCARD</span> &nbsp; <br>
          <span class="badge badge-danger">FP</span> &nbsp;
          <span class="badge badge-info">FACE</span> 
        </td>
        <td>
          2020-03-09 17:35:12.000
        </td>
       
        <td>
          <a class="btn white btn-round btn-success">Active</a>
        </td>
      </tr>
      <tr>
        <td>DC68C8058FB54135</td>
        <td>nedo 2</td>
        <td>
          ZLIF224HS100 V2.77 BSE0
        </td>
        <td>NaN</td>
        <td>
          <span class="badge badge-primary">PASSWORD</span>&nbsp;
          <span class="badge badge-success">IDCARD</span> &nbsp; <br>
          <span class="badge badge-danger">FP</span> &nbsp;
          <span class="badge badge-info">FACE</span> 
        </td>
        <td>
          2020-03-09 17:35:12.000
        </td>
       
        <td>
          <a class="btn white btn-round btn-success">Active</a>
        </td>
      </tr>
      <tr>
        <td>DC68C8058FB54135</td>
        <td>nedo 2</td>
        <td>
          ZLIF224HS100 V2.77 BSE0
        </td>
        <td>NaN</td>
        <td>
          <span class="badge badge-primary">PASSWORD</span>&nbsp;
          <span class="badge badge-success">IDCARD</span> &nbsp; <br>
          <span class="badge badge-danger">FP</span> &nbsp;
          <span class="badge badge-info">FACE</span> 
        </td>
        <td>
          2020-03-09 17:35:12.000
        </td>
       
        <td>
          <a class="btn white btn-round btn-success">Active</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>



    </div>
  </div>
  <!-- END : End Main Content-->

  <!-- BEGIN : Footer-->
  <footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-sm-center px-2"><span>Copyright  &copy; 2020 <a href="https://www.nedogroup.com" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">Nedo Corporation </a>, All rights reserved. </span></p>
  </footer>
  <!-- End : Footer-->

</div>